@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    /* neutral color */
    --dark-gray: hsl(0, 0%, 59%);

    font-size: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kumbh Sans', sans-serif; 
    background-color: var(--dark-cyan);
    min-height: 100vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.profile-card {
    background-color: white;
    border-radius: 15px;
    width: 330px;
    min-height: 370px;
}

.main-content {
    background-image: url("./images/bg-pattern-card.svg");
    background-size: 100% 50%;
    background-repeat: no-repeat;
    height: 280px;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.main-content .profile {
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.5;
}

.main-content .profile .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    margin: auto;
}

.main-content .profile .header .full-name {
    font-weight: 700;
    font-size: 1rem;
    margin-right: 10px;
    color: var(--very-dark-desaturated-blue);
}

.main-content .profile .header .age {
    font-weight: 400;
    color: var(--dark-grayish-blue);
    font-size: 1rem;
}

.main-content .profile .country {
    font-size: .8rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
}

hr {
    border: none;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.status {
    height: 90px;
    justify-content: space-evenly;
    align-items: center;
}

.status div {
    text-align: center;
    line-height: 1.5;
    color: var(--very-dark-desaturated-blue);
}

.status div small {
    font-size: .5rem;
    font-weight: 400;
    color: var(--dark-grayish-blue);
}